* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
    width: 50px;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
	background-color: royalblue;
    color: #fff;
	
}